%p= @user[:email]

- @questions.each do |q| 
	%p.question-text
		= q[:text]
		%a{:href=>"/detail/#{q[:id]}"} [detail]
	%p.answer-radios
		- (1..5).each do |i|
			%label
				%input{:type=>"radio",:value=>"#{i}",:name=>"q#{q[:id]}"}>
				#{i}
	%div{:id=>"graph-q#{q[:id]}",:class=>"graph"} #{@values[q[:id]].join(",")}
		
%form{:action=>"/addquestion",:method=>"post"}
	%textarea{:name=>"text"}
	%br
	%button{:type=>"submit"} Add Question
	
%a{:href=>"/logout"} Logout!
