%p#user-id
	= @user[:email]
	%a{:href=>"/logout"} [logout]

.questions
	- @questions.sort_by{ |q| q.hidden_for?(@user.id) ? 1 : 0 }.each do |q|
		%div{ :id=>"question#{q.id}", :class=>"question #{:hidden if q.hidden_for?(@user.id)}" }
			%p.question-text
				&= q[:text]
				%span.manage-questions
					%button.showhide hide
			%p.answer-radios
				- (1..5).each do |i|
					%label<
						%input{:type=>"radio",:value=>"#{i}",:name=>"q#{q.id}"}>
						#{i}
			.graph{:id=>"graph-q#{q.id}", :title=>'Click for detailed view'}<
				= @values[q.id].map{ |p| p.join(":") }.join(",")

%p
	%button#manage Manage Questions

%form.manage-questions#add-question(action="/addquestion" method="post")
	%textarea{:name=>"text"}
	%br
	%button{:type=>"submit"} Add Question


